*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
header{
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
	position: relative;
	z-index: 99;
}
.container{
	width: 1200px;
	padding: 7px 0;
}
.container .row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.logo{
	width: 50px;
}
nav a{
	display: inline-block;
	text-transform: uppercase;
	padding: 0 10px;
	color: #777;
}
nav a.selected,
nav a:hover{
	color: #000;
}
.logo img{
	width: 100%;
}
#toggole{
	background: #111;
	border-radius: 5px;
	display: none;
	padding: 5px;
	cursor: pointer;
}
#toggole span{
	display: block;
	width: 25px;
	height: 2px;
	border-radius: 3px;
	margin: 4px;
	background: #fff;
}
#chekbox{
	display: none;
}
@media (max-width: 900px) {
	nav{
		position: absolute;
		top: 100%;
		width: 100%;
		right: 100%;
		background: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		opacity: 0;
		visibility: hidden;
		transition: 0.3s ease;
	}
	.logo{
		margin-left: 10px;
		margin-top: 2px;
	}
	#toggole{
		display: block;
		margin: 0 10px;

	}
	nav a{
		display: block;
		padding: 10px;
	}
	#chekbox:checked ~ nav{
		visibility: visible;
		opacity: 1;
		top: 100%;
		right: 0;
	}

}